* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #111;
}

#nav_title {
    width: 100%;
    color: #FBFCF7;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid #660000;
}

#nav_table {
    width: auto;   
}

#nav_bar {
     width: 100%;
     font-family: StraightHeavy;
    margin: 15px;
}

#nav_block {
    color: #FBFCF7;   
    font-family: StraightThin;
    
}

#recent_image_block {
    display: inline-block;
    width:auto;
}

#recent_image_block img {
    width: 100%;
    max-width: 400px;
}

#film_text_block {
    width: 100%;
    max-width:400px;
}

#film_title, #film_title_1, #film_title_2, #film_title_3 {
    text-align: center;
    color: #f4f7e9;
    font-family: StraightLight;
    
}

#film_desc, #film_desc_1, #film_desc_2, #film_desc_3 {
    color: #f4f7e9;
    font-family: StraightThin;
    font-size: 14px;
    margin-left: 15px;
    margin-top: 20px;
}


@font-face {
    font-family: StraightHeavy;
    src: url(../fonts/StraightHeavy.otf);
}
@font-face {
    font-family: StraightLight;
    src: url(../fonts/StraightLight.otf);
}
@font-face {
    font-family: StraightThin;
    src: url(../fonts/StraightThin.otf);
}